<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyfff.musicapi.mapper.UserPlaylistSongsMapper">

    <resultMap id="BaseResultMap" type="com.tyfff.musicapi.domain.dto.UserPlaylistSongs">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="playlistId" column="playlist_id" jdbcType="INTEGER"/>
            <result property="externalSongId" column="external_song_id" jdbcType="VARCHAR"/>
            <result property="addedAt" column="added_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,playlist_id,
        external_song_id,added_at
    </sql>
</mapper>
