<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyfff.musicapi.mapper.UserSongHistoryMapper">

    <resultMap id="BaseResultMap" type="com.tyfff.musicapi.domain.dto.UserSongHistory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="externalSongId" column="external_song_id" jdbcType="VARCHAR"/>
            <result property="listenCount" column="listen_count" jdbcType="INTEGER"/>
            <result property="lastListenedAt" column="last_listened_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,external_song_id,
        listen_count,last_listened_at
    </sql>
</mapper>
